@import "tailwindcss";

@theme {
  --color-primary: #f97316;
  --color-primary-dark: #ea580c;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #1f2937;
  background-color: #f8fafc;
}

input, textarea, select {
  color: #1f2937;
  background-color: #ffffff;
}
